@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --yellow-text: rgb(255, 187, 0);
    --box-color: rgb(36, 36, 36); 
    --main-background-color: rgb(19, 19, 19); 
    --nav-background-color: rgb(31, 31, 31);
    --main-text-color: white;
    --box-background-color: rgb(36, 36, 36); 
    --box-border-color:rgba(90, 90, 90, 0.274); 
}

body {
    font-family: "Roboto", Arial; 
    line-height: normal; 
    color: var(--main-text-color); 
    background-color: var(--main-background-color); 
    scroll-behavior: smooth;
}
   
.navbar {
    background-color: var(--nav-background-color);
    color: var(--main-text-color); 
    padding: 5px 35px 5px 10px; 
}

.navbar-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 100%; 
    margin: 9px;
}

.logo-container {
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.logo-img-container img {
    width: 41px; 
    height: 41px; 
    border-radius: 0; 
    object-fit: fill;
}

.logo-container p {
    font-size: 21px; 
    font-weight: 550; 
    color: var(--yellow-text)
}

.nav-links-container {
    display: inline; 
}

.nav-links-container li{
    display: inline;  
    list-style: none;
    margin-right: 20px;
}

.nav-links-container a {
    color: var(--main-text-color); 
    text-decoration: none; 
    font-weight: 400; 
    transition: .15s;
}

.nav-links-container a:hover {
    color: var(--yellow-text);
}

.header-banner-container {
    background: radial-gradient(circle, rgb(255, 187, 0) 1%, rgb(235, 199, 0), rgb(189, 248, 112)); 
    color: var(--main-text-color); 
    text-align: center; 
    padding: 32px 0 25px 0; 
    border-radius: 8px;
}

.header-banner-container h1 {
    font-size: 35px; 
    font-weight: 550; 
    margin-bottom: 22px;
}

.header-banner-container p {
    font-size: 17px; 
    max-width: 100%; 
    margin: 5px; 
    line-height: 1.7; 
}

.main {
    display: flex; 
    flex-wrap: nowrap; 
    max-width: 100%; 
    margin: 0; 
    padding: 25px 30px 20px 30px;
}

.main-posts-container {
    margin-top: 25px;
    flex: 2; 
    display: flex; 
    flex-direction: row; 
}

.main-post {
    display: flex; 
    background-color: var(--box-background-color);
    border: .1px solid var(--box-border-color); 
    border-radius: 10px; 
    box-shadow: 0 1px 15px 3px rgb(15, 15, 15); 
    margin-bottom: 30px;
    margin-right: 20px;
}

.main-post img {
    display: inline-block;
    width: 130px; 
    height: 130px; 
    border-radius: 10px 0 0 0; 
    object-fit: cover; 
}

.text-post{
    padding: 15px 13px 10px 15px;
}

.main-posts-container h2 {
    font-size: 22px; 
    color: rgb(66, 125, 250); 
    margin-bottom: 10px;
}

.main-posts-container p {
    margin-bottom: 15px;
    line-height: 2;
}

aside  {
    display: inline-block;
    max-width: 300px;
    padding: 15px 15px 0 15px;
    background-color: var(--box-background-color);
    border-radius: 10px;
    border: .1px solid var(--box-border-color); 
    box-shadow: 0 1px 15px 3px rgba(15, 15, 15, 0.8);
    margin: 0 10px 0 10px;
}

.sidebar h3 {
    color: var(--yellow-text);
    margin: 10px 0 20px 0;
}

.popular-post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.popular-post img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 7px;
}

.popular-post a {
    font-size: 13px;
    text-decoration: none;
    color: var(--main-text-color);
    transition: .1s;
}

.popular-post a:hover {
    color: var(--yellow-text);
}

.socials-container {
    text-align: center;
}

.socials-container h3 {
    color: var(--yellow-text);
    margin-bottom: 15px;
}

.socials-container a {
    margin: 0 10px;
    color: var(--main-text-color);
    font-size: 30px;
    text-decoration: none;
    transition: 0.1s;
}

.socials-container a:hover {
    color: var(--yellow-text); 
}

.footer {
    background-color: var(--box-background-color); 
    color: rgb(110, 110, 110); 
    padding: 20px 10px 10px 20px ; 
    margin-top: 15px; 
    text-align: center; 
    border-top: .5px solid var(--box-border-color);
}

.footer-content {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-around; 
    gap: 15px; 
    max-width: 100%; 
    margin: 15px; 
    line-height: 2;
}

.footer-content h4 {
    margin-top: -5px; 
    color: var(--yellow-text);
}

.footer p {
    margin-bottom: 5px;
    font-size: 13px;
}

hr {
    opacity: .5;
    border: .5px solid gray;
}

.footer p:last-child {
    margin-top: 20px; 
}


@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }
  
    .nav-links-container {
        flex-direction: column;
        gap: 20px;
    }
  
    .header-banner-container h1 {
        font-size: 35px;
    }
  
    .header-banner-container p {
        font-size: 18px;
    }
  
    .main {
        flex-direction: column; 
    }

    .main-posts-container {
        flex-direction: column; 
    }

    .main-post {
        flex-direction: column; 
        margin-right: 0; 
        max-width: 100%; 
        text-align: center;
    }

    .main-post img {
        width: 100%; 
        height: auto; 
        border-radius: 10px 10px 0 0;
    }

    .text-post {
        padding: 15px;
    }

    aside {
        max-width: 100%;
        margin-left: 15px;
        margin-top: 20px; 
    }

    .popular-post a {
        font-size: 16px;
    }

    .socials-container {
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    .socials-container a {
        font-size: 30px;
    }
  
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}